.nav-span {
  background-color: black;
  padding: 2px 3px;
  color: var(--nav-color);
}

.nav {
  display: inline-block;
  padding: 24px 12px;
  padding-right: 18px;
  align-items: center;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
  z-index: 100;
}

.nav-ul, .values-ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

.nav-ul li, .values-ul li {
  padding: 3px;
}

.nav-li a, .nav-li a:visited, .nav-li span {
  font-style: normal;
  color: var(--nav-color);
}

.nav-li a:hover {
  color: var(--nav-hover);
}

.nav-span {
  padding: 2px 3px;
}

/**** nav.js START ****/
.nav-ul .hidden {
  display: none;
}
.nav-span.wip {
  text-decoration: line-through;
}
#nav-mobile-show-link {
  text-decoration: none;
}
.nav-ul--monitor:hover .hidden {
  display: block;
}
.nav-ul--monitor:hover #nav-mobile-show {
  display: none;
}

.gbook--arrow > span {
  margin-right: -14px;
}
.gbook--arrow > span > span {
  font-size: 90%;
  white-space: nowrap;
}
.gbook > span {
  color: var(--nav-color, blue);
}
.gbook a:hover + span {
  /* arrow changes color only on link hover*/
  color: var(--nav-hover, blue);
}
/**** nav.js END ****/