:root {
  --nav-color: yellow;
  --nav-hover: white;
  --link-color: blue;
  --link-hover: black;
  --overlay-text: white;
  --overlay-bg: rgba(10, 10, 10, 0.85);
  --default-bg: lime;

  /* background-image: url("images/mycelium.jpeg");
  background-repeat: repeat; */
}

header {
  background-image:url("images/mycelium_network.webp");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

div {
  margin-bottom: 60px;
}

h1{
  color: lavender;
  font-size: 50px;
  margin: auto;
}

h3 {
  color: lavender;
  font-size: 25px;
}

body {
  margin: 80px 300px 120px 80px;
  padding: 0;
  font-family: Lucida Sans Typewriter;

  font-style: normal;

  background-color: var(--default-bg);
  
}


.values-li {
  color: hotpink;
  font-weight: bold;
}




.nyanseong {
  font-size: 200px;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  word-break: break-word;
}

.overlay {
  position: absolute;
  width: 100%;
}

.overlay-mq {
  overflow: hidden;
  margin-top: -36px;
}

#mq {
  display: inline-block;
  white-space: nowrap;
  color: var(--marqee-color);
  font-size: 16px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 28s linear infinite;
  -webkit-animation: scroll-left 28s linear infinite;
  animation: scroll-left 28s linear infinite;
}

ul.comma {
  list-style: none;
}

ul.comma li {
  display: inline;
}

ul.comma li:after {
  content: ", ";
}

ul.comma li:last-child:after {
  content: "";
}


/************** marquee animation ****************/

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
