:root {
  --nav-color: yellow;
  --nav-hover: white;
  --link-color: blue;
  --link-hover: black;
  --overlay-text: white;
  --overlay-bg: rgba(10, 10, 10, 0.85);
  --default-bg: lime;
}


body {
  margin: 200px 100px 120px 80px;
  padding: 0;
  font-family: Lucida Sans Typewriter;

  font-style: normal;
  background-color: var(--default-bg);
}

.nav-span {
  background-color: black;
  padding: 2px 3px;
  color: var(--nav-color);
}

.nav {
  display: inline-block;
  padding: 24px 12px;
  padding-right: 18px;
  align-items: center;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
  z-index: 100;
}

.nav-ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

.nav-ul li {
  padding: 3px;
}

.nav-li a, .nav-li a:visited, .nav-li span {
  font-style: normal;
  color: var(--nav-color);
}

.nav-li a:hover {
  color: var(--nav-hover);
}

.nav-span {
  padding: 2px 3px;
}

/**** nav.js START ****/
.nav-ul .hidden {
  display: none;
}
.nav-span.wip {
  text-decoration: line-through;
}
#nav-mobile-show-link {
  text-decoration: none;
}
.nav-ul--monitor:hover .hidden {
  display: block;
}
.nav-ul--monitor:hover #nav-mobile-show {
  display: none;
}

.gbook--arrow > span {
  margin-right: -14px;
}
.gbook--arrow > span > span {
  font-size: 90%;
  white-space: nowrap;
}
.gbook > span {
  color: var(--nav-color, blue);
}
.gbook a:hover + span {
  /* arrow changes color only on link hover*/
  color: var(--nav-hover, blue);
}
/**** nav.js END ****/

.nyanseong {
  font-size: 200px;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  word-break: break-word;
}

.overlay {
  position: absolute;
  width: 100%;
}

.overlay-mq {
  overflow: hidden;
  margin-top: -36px;
}

#mq {
  display: inline-block;
  white-space: nowrap;
  color: var(--marqee-color);
  font-size: 16px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 28s linear infinite;
  -webkit-animation: scroll-left 28s linear infinite;
  animation: scroll-left 28s linear infinite;
}

ul.comma {
  list-style: none;
}

ul.comma li {
  display: inline;
}

ul.comma li:after {
  content: ", ";
}

ul.comma li:last-child:after {
  content: "";
}


/************** marquee animation ****************/

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
